body {
    margin: 0px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

::-webkit-scrollbar {
    display: none;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 99; /* Stay on top */
    top: 0;
    right: 0;
    background-color: white; /* White*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: black;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 25px;
    margin-left: 50px;
}

.logo {
    font-size: 25px;
    margin-left: 12px;
    margin-bottom: 8px;
}

.logo_text {
    font-weight: bold;
    color: black;
}

.nav_btn {
    font-size: 25px;
    margin-right: 12px;
    cursor: pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    z-index: 1;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*article*/
article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

h4 {
    color: black;
}

h5 {
    color: grey;
}

/*footer*/
footer {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
}

