body {
    margin: 0px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px outset;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: white; /* White*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: black;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 24px;
    margin-left: 50px;
}

.logo {
    font-size: 12px;
    margin-left: 12px;
    margin-bottom: 8px;
}

.logo_text {
    font-weight: bold;
    color: black;
}

.nav_btn {
    font-size: 24px;
    margin-right: 12px;
    margin-bottom: 10px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-right .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*article*/
article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*footer*/
footer {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
}

/*Hogwarts*/
.file-upload {
    margin: 0 auto;
    padding: 20px;
}

.file-upload-image {
    max-height: 350px;
    max-width: 350px;
    margin: auto;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.loader {
    margin: 0px auto;
    border: 4px solid gray;
    border-top: 4px solid #f3f3f3;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hide-loader{
    display:none;
}

.try-again-btn {
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
    background-color: teal;
    color: whitesmoke;
    border: none;
}

.image-upload-wrap {
    background-image: url(' ./images/Microsoft.VisualStudio.Services.Icons.ico');
    background-size: 200px 210px;
}

.file-upload-input {
    width: 200px;
    height: 210px;
    cursor: pointer;
    opacity: 0;
}

#label-container {
    margin-bottom: 20px;
}

.gryffindor-bar-container {
    background-color: #FFC500;
    border-radius: 10px;
    width: 350px;
    margin: auto;
}

.gryffindor-bar {
    background-color: #7F0909;
    border-radius: 10px;
}

.slytherin-bar-container {
    background-color: #AAAAAA;
    border-radius: 10px;
    width: 350px;
    margin: auto;
}

.slytherin-bar {
    background-color: #0D6217;
    border-radius: 10px;
}

.hufflepuff-bar-container {
    background-color: #000000;
    border-radius: 10px;
    width: 350px;
    margin: auto;
}

.hufflepuff-bar {
    background-color: #EEE117;
    border-radius: 10px;
}

.ravenclaw-bar-container {
    background-color: #946B2D;
    border-radius: 10px;
    width: 350px;
    margin: auto;
}

.ravenclaw-bar {
    background-color: #000A90;
    border-radius: 10px;
}

.percent-text {
    color: #FFFFFF;
}